<div>
    <h1>Search</h1>
    <form [formGroup]="form" (ngSubmit)="onSearch()">
        <input text="text" formControlName="search">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <div>
        <p>Suggestions</p>
    </div>
    <div>
        <h1>Category</h1>
        <div *ngFor="let a of areas">
            <a [routerLink]="['/recipes/area', a]">
                <h1>{{a}}</h1>
            </a>
        </div>
    </div>
    <div>
        <h1>Area</h1>
        <div *ngFor="let c of categories">
            <a [routerLink]="['/recipes/category', c]">
                <h1>{{c}}</h1>
            </a>
        </div>
    </div>
</div>