<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a [routerLink]="['/']" class="remove-text-style"><span>MyRecipe</span></a>
        <span class="example-spacer"></span>
        <div *ngIf="isLoggedIn">
            <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/profile']">
                  <mat-icon>person</mat-icon>
                  <span>{{username}}</span>
                </button>
                <button mat-menu-item [routerLink]="['/search']">
                    <mat-icon>search</mat-icon>
                    <span>Search Recipe</span>
                  </button>
                <button mat-menu-item [routerLink]="['/account/recipe/create']">
                  <mat-icon>edit_square</mat-icon>
                  <span>Create Recipe</span>
                </button>
                <button mat-menu-item [routerLink]="['/account/settings']">
                  <mat-icon>settings</mat-icon>
                  <span>Settings</span>
                </button>
                <button mat-menu-item (click)="logOut()">
                  <mat-icon>logout</mat-icon>
                  <span>Sign out</span>
                </button>
              </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-sidenav-container>
  <div class="footer">
    <p>v0.3.6</p>
  </div>
</mat-sidenav-container>