<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a [routerLink]="['/']" class="remove-text-style"><span>MyRecipe v0.2.5</span></a>
        <span class="example-spacer"></span>
        <div *ngIf="!isLoggedIn">
            <button type="button" [routerLink]="['/']" mat-button>Log In</button>
            <button type="button" [routerLink]="['/account/create']" mat-button>Sign Up</button>
        </div>
        <div *ngIf="isLoggedIn">
            <button type="button" [routerLink]="['search']" mat-button>Search</button>
            <button type="button" [routerLink]="['/profile']" mat-button>View Profile</button>
            <button type="button" [routerLink]="['/account/recipe/create']" mat-button>Create Recipe</button>
            <button type="button" (click)="logOut()" mat-button>Sign out</button>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div>
</div>
<router-outlet></router-outlet>