<div class="container">
    <p>Search results for <span>{{this.query}}</span></p>
    <div>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile *ngFor="let r of recipes">
                <table class="table">
                    <tr>
                        <td>
                            <a *ngIf="!r.user" [routerLink]="['/recipe', r.recipeId]"><img src="{{r.thumbnail}}" width="200" height="auto"></a>
                            <a *ngIf="r.user" [routerLink]="['/recipe/user', r.recipeId]"><img src="/thumbnails/{{r.thumbnail}}" width="200" height="auto"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a *ngIf="!r.user" [routerLink]="['/recipe', r.recipeId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{r.name}}</span></a>
                            <a *ngIf="r.user" [routerLink]="['/recipe/user', r.recipeId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{r.name}}</span></a>
                        </td>
                    </tr>
                </table>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="recipes.length === 0 && !isLoading">
        <p>Your search <em><span>{{this.query}}</span></em> did not match any
            listings. Try another search.</p>
    </div>
</div>