<div class="container">
    <div class="row justify-content-md-center">
        <div class="col mt-5 align-center">
            <h3>Search results for <span>{{this.query}}</span></h3>
            <div>
                <p align="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </p>
                <div class="row">
                    <div class="col-md-auto" *ngFor="let r of recipes">
                        <p><a *ngIf="!r.user" [routerLink]="['/recipe', r.recipeId]"><img src="{{r.mealDBThumbnail}}" width="200"
                                height="auto"></a></p>
                        <p><a *ngIf="r.user" [routerLink]="['/recipe/user', r.recipeId]"><img
                                src="/thumbnails/{{r.recipeId}}" width="200" height="auto"></a></p>

                        <p><a *ngIf="!r.user" [routerLink]="['/recipe', r.recipeId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{r.name}}</span></a></p>
                        <p><a *ngIf="r.user" [routerLink]="['/recipe/user', r.recipeId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{r.name}}</span></a></p>
                    </div>
                </div>
            </div>
            <div *ngIf="recipes.length === 0 && !isLoading">
                <p>Your search <em><span>{{this.query}}</span></em> did not match any
                    listings. Try another search.</p>
            </div>
        </div>
    </div>
</div>