<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col mt-5">
            <p align="center">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </p>
        </div>
    </div>
    <div class="row" *ngIf="recipe">
        <div class="col">
            <h1>{{recipe.name}} | Created by: {{recipe.createdBy}}</h1>
            <p>
                <img *ngIf="!recipe.user" src="{{recipe.thumbnail}}" width="80%" height="auto">
                <img *ngIf="recipe.user" src="/thumbnails/{{recipe.thumbnail}}" width="80%" height="auto">
            </p>
            <p>
                <button [routerLink]="['/recipes/category', recipe.category]" mat-raised-button color="primary"
                    class="me-3">{{recipe.category}}</button>
                <button [routerLink]="['/recipes/area',recipe.country]" mat-raised-button
                    color="primary">{{recipe.country}}</button>
            </p>
            <h2 class="mt-5">Instructions</h2>
            <p style="width: 100%; word-wrap: break-word;">{{recipe.instructions}}</p>
            <h2 class="mt-5">Ingredients</h2>
            <div class="border border-3 rounded-3">
                <div class="row" *ngFor="let ingredient of recipe.ingredients; let i = index;">
                    <div class="col p-2">
                        {{recipe.measurements[i]}} {{ingredient}} <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div *ngIf="recipe.youtubeLink">
                    <a href="{{recipe.youtubeLink}}" target="_blank" mat-raised-button color="primary" class="mb-5"><mat-icon>tv</mat-icon> Watch Video</a> 
                </div>
            </div>
        </div>
    </div>
</div>